@import "~bootstrap/scss/bootstrap.scss";


body {
    background: #25e3f3;

}


.containerLights {
    background-color: gray;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    width: 27rem;
    border: 12px solid #9e9e9e;
}

.light {
    width: 5rem;
    height: 5rem;
    background-color: grey;
    border-radius: 100px;
    margin-bottom: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 2rem;
    padding: 3rem;
}
.offLight {
    width: 5rem;
    height: 5rem;
    background-color: grey;
    border-radius: 100px;
}
.red {
    width: 14rem;
    height: 14rem;
    background-color: red;
    border-radius: 100%;
    border: 7px solid black;
    
}

.yellow {
    width: 14rem;
    height: 14rem;
    background-color: yellow;
    border-radius: 100%;
    border: 7px solid black;
}
.green {
    width: 14rem;
    height: 14rem;
    background-color: #28fd02;
    border-radius: 100%;
    border: 7px solid black;
}
.glowAngry {
    background-image: url("../img/angry3.png"); 
    
}

.glowNormal {
    background-image: url("../img/normalFinal.png");
}

.glowHappy {
    background-image: url("../img/happy2.png")
}

